@import "../Style/colors";
.franchise-quiz{
    min-height: 100vh;
    &__banner{
        background: url('../images/new/Franchise Quiz.jpg');
        background-size: cover;
        background-color: $secondaryBlueColor;
        color: $whiteColor;
        font-size: 36px;
        font-weight: 700;
        padding: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__body{
        padding: 40px 80px;
        &-about h2{
            color: $primaryBlueColor;
        }
        &-about p{
            color: $greyColor;
            text-align: justify;
        };
        &-content{
            background-color: #f5f9fc;
            padding: 40px;
            &-container{
            
            }
            &-wrapper{
                height: 200px;
                &-label{
                    color: $primaryBlueColor;
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
                &-questions{
                    color: #737373;
                    font-weight: 600;
                    margin-bottom: 15px;
                }
                &-options{
                    color: $greyColor;
                    font-weight: 500;
                    &-each{
                        margin-bottom: 10px;
                    }
                    &-each input{
                        margin-right: 15px;
                    }
                }
                &-progress{
                    display: flex;
                    padding-top: 20px;
                }
                &-progress button{
                    margin: 0 40px;
                    font-size: 18px;
                    background-color: $primaryBlueColor;
                    color: white;
                    border: none;
                    padding: 15px;
                    position: relative;
                    bottom: 15px;
                    display: flex;
                
                }
                &-progress button span{
                    margin-right: 7px;
                    font-weight: 600;
                }

            }
            &-feedback{
                &-label{
                    color: $greyColor;
                    margin-bottom: 20px;
                }
                &-heading{
                    color: $primaryBlueColor;
                    margin-bottom: 20px;
                    font-weight: 800;
                    font-size: 22px;
                }
                &-result{
                    color: $greyColor;
                    margin-bottom: 20px;
                    &-mark{
                        color: $primaryBlueColor;
                        font-weight: 800;
                        font-size: 22px;
                    }
                }
                &-message{
                    color: $greyColor;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                &-info{
                    color: $greyColor;
                    margin-bottom: 20px;
                }
                &-fra{
                    color: $greyColor;
                }
                &-fra button {
                    padding: 10px;
                    color: $whiteColor;
                    background-color: $primaryBlueColor;
                    border: none;
                    margin-left: 10px;
                }
                &-fra button span{
                    position: relative;
                    top: 4px;
                    margin-left: 5px;
                }
            }
        }
        &-text{
            color: $primaryBlueColor;
            &-button{
                padding: 20px 0;
            }
            &-button button{
                color: $whiteColor;
                padding: 15px;
                background-color: $primaryBlueColor;
                border: none;
            }
        }
    }
    
}
@media(max-width:768px){
    .franchise-quiz{
        &__body{
            &-content{
                &-feedback{
                    &-fra button{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
@media(max-width:425px) {
    .franchise-quiz{
        &__banner{
            padding: 40px;
            font-size: 28px;
        }
        &__body{
            padding: 30px 50px;
            &-about{
                h2{
                    font-size: 22px;
                }
                p{
                    font-size: 12px;
                }
            }
            &-content {
                padding: 30px;
                &-wrapper{
                    &-label{
                        font-size: 16px;
                        margin-bottom: 14px;
                    }
                    &-questions{
                        font-size: 12px;
                        margin-bottom: 10px;
                    }
                    &-options-each{
                        margin-bottom: 5px;
                        font-size: 12px;
                        input{
                            margin-right: 10px;
                        }
                    }
                    &-progress{
                        padding-top: 0;
                        flex-direction: column-reverse;
                        button{
                            margin: 0;
                            padding: 5px;
                            font-size: 12px;
                            inline-size: min-content;
                        }
                    }
                }
                &-feedback{
                    &-label{
                        margin-bottom: 15px;
                        font-size: 12px;
                    }
                    &-heading{
                        margin-bottom: 15px;
                        font-size: 16px;
                    }
                    &-result{
                        margin-bottom: 15px;
                        font-size: 12px;
                        &-mark{
                            font-size: 18px;
                        }
                    }
                    &-message{
                        margin-bottom: 10px;
                        font-size: 12px;
                    }
                    &-info{
                        margin-bottom: 10px;
                        font-size: 12px;
                    }
                    &-fra{
                        font-size: 12px;
                        button{
                            font-size: 12px;
                        }
                        button span{
                            top: 2px;
                        }
                    }
                }
            }
            &-text{
                font-size: 12px;
                &-button{
                    padding: 10px 0;
                    button{
                        font-size: 10px;
                        padding: 10px;
                    }
                   
                }
            }
        }
    }
}

@media(max-width:320px){
    .franchise-quiz{
        &__banner{
            padding: 38px;
            font-size: 25px;
        }
        &__body{
            padding: 30px 30px;
            &-about{
                h2{
                    font-size: 20px;
                }
                p{
                    font-size: 10px;
                }
            }
            &-content {
                padding: 30px;
                &-wrapper{
                    &-label{
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    &-questions{
                        font-size: 10px;
                        margin-bottom: 5px;
                    }
                    &-options-each{
                        font-size: 10px;
                        input{
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}