@import "../Style/colors";
@import "../../node_modules/react-datetime/css/react-datetime.css";

.franchise-fra{
    min-height: 100vh;
    &__banner{
        background-color: $secondaryBlueColor;
        color: $whiteColor;
        font-size: 36px;
        font-weight: 700;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__body{
        padding: 40px 80px;
        &-about p{
            color: $greyColor;
        };
        &-content{
            padding: 40px;
        }
        &-form{
            &-label{
                margin-bottom: 15px;
                color: $greyColor;
                font-weight: 700;
            }
            &-input{
                margin-left: 18px;
                margin-bottom: 20px;
                color: $greyColor;
            }
            &-input select{
                border: none;
                border-bottom: solid 1px $greyColor;
                margin-right: 10px;
                color: $greyColor;
            }
            &-input input{
                border: none;
                border-bottom: solid 1px $greyColor;
                margin-right: 10px;
                color: $greyColor;
            }
            &-submit{
                float: right;
            }
            &-submit input {
                padding: 10px;
                color: $whiteColor;
                background-color: $primaryBlueColor;
                border: none;
            }
        }
    }
}

.franchise-fradocs{
    &__body{
        padding: 40px 80px;
        
        &-about h2{
            color: $primaryBlueColor;
        };
        &-about{
            &-req{
                color: red;
            }
            &-text{
                color: $greyColor;
            }
        }
        &-content{
            padding: 40px;
        }
        &-file{
            padding: 20px;
            &-upload{
                display: flex;
                padding: 10px;
                color: $greyColor;
                &-label{
                    width: 300px;
                }
                &-button{
                    padding: 10px;
                }
                &-button button{
                    padding: 10px;
                    color: $whiteColor;
                    background-color: $primaryBlueColor;
                    border: none;
                }
            }
        }
        &-visit{
            &-heading h2{
                color: $primaryBlueColor;
            }
            &-heading p{
                color: $greyColor;
            }
            &-selector{
                padding: 15px;
                &-datetime{
                    display: flex;
                    margin-bottom: 15px;
                    &-label{
                        width: 150px;
                        color: $greyColor;
                    }
                    &-input select{
                        border: none;
                        border-bottom: solid 1px $greyColor;
                    }
                }
                &-button button{
                    padding: 10px;
                    color: $whiteColor;
                    background-color: $primaryBlueColor;
                    border: none;
                }
            }
            &-footer{
                padding-top: 20px;
                color: $primaryBlueColor;
            }
        }
    }
}

@media(max-width:425px){
    .franchise-fra{
        &__banner{
            font-size: 28px;
        }
        &__body{
            padding: 10px 20px;
            h2{
                font-size: 18px;
            }
            &-about{
                p{
                    font-size: 12px;
                    text-align: justify;
                }
            }
            &-content{
                padding: 10px;
                font-size: 14px;
            }
            &-form-submit{
                float: none;
            }
        }
    }
    .franchise-fradocs{
        &__body{
            padding: 10px 20px;
            &-about{
                h2{
                    font-size: 16px;
                }
                &-text{
                    font-size: 14px;
                    text-align: justify;
                }
            }
            &-file{
                padding: 0;
                &-upload{
                    &-label{
                        width: 50%;
                        font-size: 14px;
                    }
                    &-input{
                        width: 50%;
                        font-size: 14px;
                    }
                    &-button button{
                        font-size: 12px;
                    }
                }
            }
            &-visit{
                &-heading{
                    h2{
                        font-size: 16px;
                    }
                    p{
                        font-size: 14px;
                        text-align: justify;
                    }
                }
                &-selector{
                    &-datetime{
                        &-label{
                            font-size: 14px;
                        }
                        &-input{
                            font-size: 14px;
                        }
                    }
                    &-button button{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media(max-width:375px) {
    .franchise-fra{
        &__banner{
            font-size: 22px;
        }
    }
}