// $primaryBlueColor: #142068; 
$primaryBlueColor: #57598c; 
// $primaryBlueColor1: #0a0f35;
$primaryBlueColor1: #695a91;
// $secondaryBlueColor: #6bbe48;
$secondaryBlueColor: #71adc9;
// $secondaryBlueColorLight: #6bbe4833;
$secondaryBlueColorLight: #9ecde137;
// $secondaryBlueColorLight1: #6bbe4899;
$secondaryBlueColorLight1: #57598caa;
$secondaryGreenColor1: #7fd256;
$lightBlueColor: #b4d1db30;
$whiteColor: #ffffff;
$greyColor: #a7a7a7;
$greyColor1: #D3D3D333;